<% if action== :edit %>
  <% url = cat_url(@cat.id) %>
<% else %>
  <% url = cats_url %>
<% end%>


<form action="<%= url %>" method="post">
  <% if action==:edit  %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <h1>Name</h1>
  <input type="text" name="cat[name]" value="<%= cat.name %>">

  <h1>Birth date</h1>
  <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

  <h1>Color</h1>
  <select name="cat[color]">
    <option disabled selected>- Select Cat Color -</option>
    <option value="Red">Red</option>
    <option value="White">White</option>
    <option value="Blue">Blue</option>
</select>

  <h1>Sex</h1>
  <input type="radio" name="cat[sex]" value="M">M<br>
  <input type="radio" name="cat[sex]" value="F">F<br>

  <!-- <input type="text" name="cat[sex]" value=""> -->

  <h1>Description</h1>
  <textarea name="cat[description]" value="<%= cat.description %>"><%= cat.description %>
  </textarea>
  <input type='submit'></input>

</form>
